{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
{% url 'auth_login' as auth_login %}
{% url 'password_reset' as pw_reset_url %}
{% url 'registration_register' as register_url %}
{% if user.is_authenticated %}
<p>Hi, {{ user.username }}</p>
{% endif %}
<ul id="account_links">
    <li><a href="{{ auth_login }}">Login and change your password?</a></li>
    <li><a href="{{ pw_reset_url }}">Forgot your password?</a></li>
    <li><a href="{{ register_url }}">Need an account?</a></li>
</ul>
{% endblock %}

