{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

{% if form.errors %}
<p>There was an error with your username and password. Please try again.</p>
{% endif %}

<div id="login_form">
    <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
        <table>
        <tr>
            <td>{% trans form.username.label_tag %}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{% trans form.password.label_tag %}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input class="btn btn-default btn-block" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <ul id="login_links" class="pull-left">
        <li><a href="{{ auth_pwd_reset_url }}">Forgot your password?</a></li>
        <li><a href="{{ register_url }}">Need an account</a>?</li>
    </ul>
</div>

{% endblock %}