{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'password_change' as pw_change_url %}

{% if form.errors %}
<p>There was an error with your username and password. Please try again.</p>
{% endif %}

<div id="login_form">
    <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
    <table>
        <tr>
            <td>{% trans form.username.label_tag %}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{% trans form.password.label_tag %}</td>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-lg btn-primary btn-block" type="submit" value="login" /></td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ pw_change_url }}" />
    </form>
</div>

{% endblock %}