{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Password changed" %}{% endblock %}
{% block content %}
{% url 'auth_logout' as auth_logout_url %}
{% url 'auth_password_change' as pw_url %}
<h4>Password successfully changed!</h4>
<p>There's nothing much to see here. This is just the account management page. Please visit the SEA-web job submission site to create and manage SEA-web jobs.</p>

<p>Want to <a href="{{ pw_url }}">change your password?</a></p>

<form method="post" action="{{ auth_logout_url }}">{% csrf_token %}
    <input type="submit" value="logout">
</form>

{% endblock %}

